body {
    background: linear-gradient(to top,rgb(250, 81, 2), rgb(16, 96, 224));
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.right {
    width: 300px;
    height: auto;
    float: left, top;
    margin-right: 20px;
    border-bottom: 1px solid cyan;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button { background-color: #1c87c9; border: none; color: white; padding: 20px 34px; text-align: center; text-decoration: none; display: inline-block; font-size: 20px; margin: 4px 2px; cursor: pointer; }
#dr_home { position: sticky;
    top: 0px;
}