body {
    background: linear-gradient(to top,rgb(250, 81, 2), rgb(16, 96, 224));
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

img {
    width: 300px;
    height: auto;
    float: left;
    margin-right: 20px;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}